@media screen and (min-width: 100px) {
  .cart {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .cart__header {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .cart__checkout {
    width: 100%;
    padding: 20px;
    font-size: 13px;
    color: white;
    background-color: #0b5ed7 !important;
    margin-bottom: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .cart__checkout-paragraph {
    background-color: #0b5ed7 !important;
    margin-bottom: 10px;
  }

  .cart__checkout-link > a {
    background-color: #f3faff;
    color: #0b5ed7;
    padding: 10px 20px;
    border-radius: 5px;
    /*color: #800080;
  */ /*font-size: 25px;
  */
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  /* cartitem styling  */
  .cart__item {
    width: 100%;
  }

  .cart__item p {
    margin-bottom: 0px;
  }
  .cart__item-header {
    font-weight: bold;
  }
  .cart__item-quantity {
    margin-top: 10px;
    font-weight: 500;
  }
  .cart__item-button {
    color: red;
    border: 1px solid red;
    padding: 10px 31px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .cart__item-button:hover {
    background-color: red;
    color: white;
    padding: 10px 31px;
  }

  /* show ad details  */
  .card {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    font-size: 13px !important;
    font-weight: 600;
  }

  .card-header {
    font-size: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-weight: 500;
  }

  /* top rated product  */
  .AddToCart {
    padding-left: 20px;
    padding-right: 10px;
  }
  .cart__product {
    padding: 10px;
    width: 280px;
    height: 45px;
    color: white;
    background-color: #0b5ed7 !important;
    /* margin-bottom: 25px; */
  }
}
@media screen and (min-width: 576px) {
  .cart__checkout {
    width: 80%;
    padding: 20px;
    font-size: 13px;
    color: white;
    background-color: #0b5ed7 !important;
    margin-bottom: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .cart__checkout-paragraph {
    background-color: #0b5ed7 !important;
    margin-bottom: 0px !important;
  }
  /* cart items  */
  .cart__item-quantity {
    margin-top: 0px;
    font-weight: 500;
  }
  .cart__product {
    padding: 10px;
    width: 400px;
    height: 45px;
    color: white;
    background-color: #0b5ed7 !important;
    /* margin-bottom: 25px; */
  }
}
@media screen and (min-width: 768px) {
  .cart__checkout-paragraph {
    background-color: #0b5ed7 !important;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
  .cart {
    padding-left: 35px !important;
    /* padding-right: 0px; */
  }
  .cart__header {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .cart__checkout {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: white;
    background-color: #0b5ed7 !important;
    margin-bottom: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .cart__checkout-paragraph {
    background-color: #0b5ed7 !important;
    margin-bottom: 0px;
  }

  .cart__checkout-link > a {
    background-color: #f3faff;
    color: #0b5ed7;
    padding: 10px 20px;
    border-radius: 5px;
    /*color: #800080;
  */ /*font-size: 25px;
  */
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  /* cartitem styling  */
  .cart__item {
    width: 100%;
  }

  .cart__item p {
    margin-bottom: 0px;
  }
  .cart__item-header {
    font-weight: bold;
  }
  .cart__item-quantity {
    margin-top: 0px;
    font-weight: 500;
  }
  .cart__item-button {
    color: red;
    border: 1px solid red;
    padding: 10px 31px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .cart__item-button:hover {
    background-color: red;
    color: white;
    padding: 10px 31px;
  }

  /* show ad dropdown  */
  .showAd__dropdown {
    width: 45%;
  }

  /* top rated product  */
  .AddToCart {
    padding-left: unset;
    padding-right: unset;
  }

  .buttonDanger {
    /*margin-right: 20px;
  */
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 31px;
    border: 1px solid red;
    color: red;
    background-color: unset;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .buttonDanger:hover {
    /*margin-right: 20px;
  */
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 31px;
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .cart__product {
    padding: 10px;
    width: 400px;
    height: 45px;
    color: white;
    background-color: #0b5ed7 !important;
    /* margin-bottom: 25px; */
  }

  .AddToCart__img{
    width: 110px;
    height: 110px !important;
  }
}

/* .cart__header {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
} */
